/*

!.gitignore
!.gitmodules
!README.md
!LICENSE

!Pmod*/
Pmod*/**
!Pmod*/*.tcl
!Pmod*/README.txt
!Pmod*/constrs
Pmod*/constrs/**
!Pmod*/constrs/*.xdc
!Pmod*/sources
Pmod*/sources/**
!Pmod*/sources/*.v
!Pmod*/sources/*.vhd
!Pmod*/sdk_sources
!Pmod*/sdk_sources/**

!Zmod*/
Zmod*/**
!Zmod*/*.tcl
!Zmod*/README.txt
!Zmod*/constrs
Zmod*/constrs/**
!Zmod*/constrs/*.xdc
!Zmod*/sources
Zmod*/sources/**
!Zmod*/sources/*.v
!Zmod*/sources/*.vhd
!Zmod*/sdk_sources
!Zmod*/sdk_sources/**

!repo/
!repo/**
