/*

!.gitignore
!.gitmodules
!README.md
!LICENSE

!Pmod*/
Pmod*/**
!Pmod*/*.tcl
!Pmod*/constrs
Pmod*/constrs/**
!Pmod*/constrs/*.xdc
!Pmod*/sources
Pmod*/sources/**
!Pmod*/sources/*.v
!Pmod*/sources/*.vhd

!repo/
!repo/**
