/*

!.gitignore
!.gitmodules
!README.md
!LICENSE

!Pmod*/
Pmod*/**
!Pmod*/*.tcl
!Pmod*/README.txt
!Pmod*/constrs
Pmod*/constrs/**
!Pmod*/constrs/*.xdc
!Pmod*/sources
Pmod*/sources/**
!Pmod*/sources/*.v
!Pmod*/sources/*.vhd
!Pmod*/sdk_sources
!Pmod*/sdk_sources/**

!repo/
!repo/**
